<div>
  <h2>Hello!</h2>
  In the near future, dietoutpost plans to allow users for the next following activities:
  <ul>
    <li>Define your own proteins/carbohydrates/fats relations. Which are now calculated by default in regards to your
      caloric demand:
      <div>
        <ul>
          <li>Proteins: 15%</li>
          <li>Carbohydrates: 55%</li>
          <li>Fats: 30%</li>
        </ul>
      </div>
    </li>
    <li>
      Define your workout plan to include it within calculated caloric demand.
    </li>
  </ul>
</div>