<div class="training-container">
    <div class="form-group" style="font: 1.2vw solid black">
        <label for="file"
            style="font-weight: bold; border: 2px solid black; padding: .1em; padding-left: .8em; padding-right: .8em; border-radius: 25px; box-shadow: 2px 12px 34px">Choose
            File</label>
        <label (click)="handleSave()"
            style="font-weight: bold; border: 2px solid black; padding: .1em; padding-left: .8em; padding-right: .8em; border-radius: 25px; box-shadow: 2px 12px 34px; margin-left: 1em">
            Save</label>
        <br />
        <br />
        <input type="file" id="file" style="font: 1.2em solid black; border: 1px solid black"
            (change)="handleFileInput($event.target.files)">
        <div style="float: right">{{fileToUpload?.name}}</div>
        <br />
        <br />
    </div>
    <br />
    <br />
    <app-training
        style="display: inline-block; width: 35%; margin-left: 2%; border: 2px solid black; border-radius: 25px"
        [workout]="workout">
    </app-training>
    <app-training-map
        style="width: 55%; float: right; margin-right: 2%; border-radius: 25px; border: 2px solid green; box-shadow: 2px 12px 22px">
    </app-training-map>
</div>