<header>
  <div class="container">
    <a routerLink="/home" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/dietbuilder">Build diet</a></li>
        <li><a routerLink="/diets">Diets</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/requirements">Conditions</a></li>
        <!--<li><a routerLink="/diets">Diets</a></li>
        <li><a routerLink="/whattoexpect">What to expect</a></li>-->
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>