.ng-autocomplete {
    width: 90%;
    margin-left: 5%;
}

.form-control-name {
    padding-left: 5%;
}

.form-control {
    text-align: center;
}

.form-control-delete {
    text-align: center;
}


th {
    border: 2px solid black;
}

td {
    border: 2px solid black;
}