<div style="position: absolute; left: 5%; width: 90%; height: 28em">
    <div style="display: inline-flex; height: 100%; width: 68%; float: left; border: 2px solid forestgreen; 
        border-radius: 25px; margin-top: 5px; box-shadow: 5px 0px 25px">
        <table></table>
    </div>
    <div style="text-align: center; height: 100%; width: 25%; float: right; border: 2px solid forestgreen; 
        border-radius: 25px; margin-top: 5px; box-shadow: 5px 0px 25px">
        <input type="text"
            style="float: left; height: 5%; width: 80%; margin: auto; margin-top: 15%; margin-left: 10%" />
        <div style="float: left; border: 2px solid red; height: 65%; margin-top: 15%; width: 86%; margin-left: 7%;">

        </div>
    </div>
</div>