<div style="position: absolute; left: 5%; width: 90%; height: 28em">
    <div style="display: inline-flex; height: 100%; width: 68%; float: left; border: 2px solid forestgreen; 
        border-radius: 25px; margin-top: 5px; box-shadow: 5px 0px 25px">
        <table class="dietProducts"
            style="width: 90%; height: 80%; margin-left: 5%; margin-top: 5%; border: 1px solid black; border-radius: 5px">
            <thead>
                <th style="width: 50%; text-align: left; padding-left: 5%">
                    Name
                </th>
                <th style="width: 10%">
                    Proteins
                </th>
                <th style="width: 10%">
                    Carbs
                </th>
                <th style="width: 10%">
                    Fats
                </th>
                <th style="width: 10%; padding-right: 1.25%; text-align: right">
                    Energy
                </th>
                <th style="width: 10%">

                </th>
            </thead>
            <tbody>
                <tr *ngFor="let product of dietProducts; let i = index" style="line-height: 5%">
                    <td>
                        <p class="form-control-name">{{product.name}}</p>
                    </td>
                    <td>
                        <p class="form-control">{{product.proteins}}</p>
                    </td>
                    <td>
                        <p class="form-control">{{product.carbs}}</p>
                    </td>
                    <td>
                        <p class="form-control">{{product.fats}}</p>
                    </td>
                    <td>
                        <p class="form-control-delete">
                            {{ (product.proteins * 4 + product.carbs * 4 + product.fats * 9).toPrecision(5) }}
                        </p>
                    </td>
                    <td style="text-align: center; margin: auto">
                        <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center; height: 100%; width: 25%; float: right; border: 2px solid forestgreen; 
        border-radius: 25px; margin-top: 5px; box-shadow: 5px 0px 25px">
        <div class="ng-autocomplete">
            <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
        <div style="float: left; height: 65%; margin-top: 15%; width: 86%; margin-left: 7%;">
            <div style="display: flex; flex-direction: column; height: 100%;">
                <div style="flex: 2; font-weight: bold; padding-top: 5%" class="shadow-type">
                    Summary
                </div>
                <div style="flex: 3; margin-top: 55px">
                    <div>Proteins</div>
                    <div>{{getSummaryProteins()}}</div>
                </div>
                <div style="flex: 3">
                    <div>Carbohydrates</div>
                    <div>{{getSummaryCarbs()}}</div>
                </div>
                <div style="flex: 3">
                    <div>Fats</div>
                    <div>{{getSummaryFats()}}</div>
                </div>
                <div style="flex: 3">
                    <div>Energy</div>
                    <div>{{ (4 * getSummaryProteins() + 4 * getSummaryCarbs() + 9 * getSummaryFats()).toPrecision(6)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>