@import '../../styles.scss';

.ng-autocomplete {
    width: 90%;
    margin-left: 5%;
}

.form-control-name {
    padding-left: 5%;
}

.form-control {
    text-align: center;
}

.form-control-delete {
    text-align: center;
}


th {
    border: 2px solid black;
}

td {
    border: 2px solid black;
}

.dietProducts td{
    line-height: 45px;
    height: 40px;
}

.dietProducts tr{
    overflow: hidden;
    line-height: 45px;
    height: 40px;
}