<div style="position: absolute; left: 5%; width: 90%; height: 28em">
    <div style="display: inline-flex; height: 100%; width: 70%; border-radius: 25px; border: 2px solid forestgreen; 
    border-radius: 25px; margin-top: 5px; box-shadow: 5px 0px 25px">
        <app-table-display [dataSource]="this.productsService.products" [headers]="headers" [observe]="ObservedProduct"
            class="table-display" (productChange)="productSelectionChange($event)">
        </app-table-display>
    </div>
    <div style="display: inline-flex; height: 100%; width: 25%; float: right; border: 2px solid forestgreen; 
        border-radius: 25px; margin-top: 5px; box-shadow: 5px 0px 25px">
        <app-product-display [observe]="ObservedProduct" [detail]="this.productsService.products[0]" style="overflow: hidden;
        position: relative;
        width: 100%;">
        </app-product-display>
    </div>
</div>