.advrValue {
    padding-top: 10%;
    width: 90%;
}

.advrLabel {
    padding-top: 31%;
    width: 90%;

    select {
        width: 100%;
    }
}

.GridField{
    border: 0px solid black;
    height: 100%;
    width: 100%;
}

.advInput {
    width: 100%;
}

.advSelect {
    width: 101.2%;
    height: 1.8em;
}