<div style="width: 100%; height: 30em; position: relative">
    <div
        style="width: 90%; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; text-align: center; font: 34px solid black">
        Welcome to the diet outpost
        <br />
        <br />
        <br />
        <div style="font: 28px solid black">
            Hope you have a great time browsing our website
        </div>
        <br />
        <br />
        <br />
        <div style="font: 28px solid black">
            If you have any questions, contact me at <a href="mailto:contact@dietoutpost.com">
                contact@dietoutpost.com
            </a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div style="font: 28px solid black">
            Thank you and talk to you later
        </div>
    </div>
</div>